* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --side-color: black;
    --main-color: #121212;
    --ftr-color: #262627;
    --hvr-color: #1ED760;
    --txt-color: #878787;
    --single-color: white;
}

.single-color {
    color: white;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--txt-color)
}

a:hover {
    color: white;
    border-bottom: 1px solid #1ED760;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.top-container {

    flex-grow: 1;
    display: flex;
}

.bottom-navbar {
    color: var(--txt-color);
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    height: 80px;
    background-color: var(--ftr-color);
}

.sidebar {
    width: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--side-color);

}

.sidebar .top-section {
    flex-shrink: 0;
}

.sidebar .middle-section {
    flex-grow: 1;
    overflow: auto;
    padding-top: 1rem;
}

.sidebar .middle-section .playlist-container {
    display: none;
    padding: 1rem;
}

.square-playlist {
    padding-right: 6px;
    font-size: 30px;

}

.ghost-side {
    display: none;
}

.cnt-flx {
    display: flex;
    align-items: center;
}

.cnt-flx1 {
    display: flex;
    
    width: 25%;
    align-items: center;
}

.playlist-container li {
    list-style: none;
    padding: 0.5rem;
}

.playlist-container ul {

    padding: 0.5rem;
}

.sidebar .bottom-section {
    flex-shrink: 0;

}

.sidebar .sidebar-list {
    list-style: none;
}

.sidebar .sidebar-list .logo-large {
    display: none;
    padding-bottom: 1.5rem;
    width: 9rem;
}

.sidebar .sidebar-list .logo-small {

    padding-bottom: 1.5rem;
}

.sidebar .sidebar-list a {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.sidebar .sidebar-list .list-item-text {
    display: none;
}

.main-container {
    background-color: var(--main-color);
    flex-grow: 1;
}

.button-upg {
    border-color: white;
    background-color: var(--main-color);
    padding: 1rem 1.5rem;
    color: white;
    border-radius: 20px;
    position: fixed;
    right: 1%;
    top: 2%;
}

.button-upg:hover {
    background-color: var(--hvr-color);
    color: black;
    border-style: none;
}

.img1 {
    padding-left: 1rem;
   
    display: block;
    width: 100%;
    height: 80px;
    width: 80px;
    height: 100%;
}
.space-pdg-r-ic{
    padding-right:  3rem;
    
}
.space-pdg-r{
    padding-right:  2rem;
    
}
.space-pdg-l{
    padding-left:  1rem;
    
}
.bar-player
{
    align-items: center;
    display: flex;
    padding-top: 1rem;
}
.bar-playerw
{
    border-radius: 30px;
    border-end-end-radius: 0px;
    border-top-right-radius: 0px;
    height: 10px;
    background-color: white;
    width: 20%;
}
.bar-playerg
{border-radius: 30px;
    height: 10px;
    background-color: gray;
    width: 70%;
  
}